.animated {
	position: absolute;
}

.bact:nth-of-type(1) {
	bottom: 20%;
	left: 5%;
	z-index: 1;
	animation: 15s infinite alternate linear bact;
}

@keyframes bact {
	0% {
		bottom: 20%;
		left: 5%;
	}

	50% {
		bottom: 30%;
		left: -1%;
		transform: rotate(60deg);
	}
}

.bact:nth-of-type(2) {
	bottom: -14%;
	right: 18%;
	z-index: 6;
	transform: scale(0.8);
	animation: 13s infinite alternate linear bact-2;
}

@keyframes bact-2 {
	0% {
		right: 18%;
		bottom: -14%;
		transform: scale(0.8);
	}

	25% {
		right: 18%;
		bottom: -12%;
		transform: scale(1.1) rotate(5deg);
	}

	45% {
		right: 24%;
		bottom: -4%;
		transform: scale(0.9) rotate(20deg);
	}

	75% {
		right: 17%;
		bottom: -8%;
		transform: scale(1) rotate(10deg);
	}
}

.bact:nth-of-type(3) {
	top: 7%;
	right: 33%;
	transform: scale(0.8);
	animation: 20s infinite alternate linear bact-3;
}

@keyframes bact-3 {
	0% {
		top: 7%;
		right: 33%;
		transform: scale(0.8);
	}

	25% {
		top: 9%;
		right: 30%;
		transform: scale(0.9);
	}

	45% {
		top: 11%;
		right: 27%;
		transform: scale(1);
	}

	75% {
		top: 12%;
		right: 30%;
		transform: scale(1);
	}
}

.anim-div {
	top: 25%;
	right: 10%;
	z-index: 7;
	animation: 15s infinite linear star-bact;
}

.star-bact {
	animation: 70s infinite ease-out rotate;
}

@keyframes star-bact {
	0% {
		transform: rotate(0deg) translateX(-30px) rotate(0deg);
	}

	100% {
		transform: rotate(360deg) translateX(-30px) rotate(-360deg);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}

.title-sperm {
	top: 12%;
	right: -9%;
	z-index: 6;
	transform: rotate(-8deg);
	animation: 4s 1 forwards ease-out title-sperm;
}

@keyframes title-sperm {
	100% {
		 top: 15%;
		 right: -1%;
	}
} 

.sperm-squad-go {
	animation: 3s ease-out forwards sperm-squad;
}

.sperm-squad:nth-of-type(1) {
	top: 12%;
	left: 39%;
	opacity: 0;
}

.sperm-squad:nth-of-type(2) {
	top: 12%;
	left: 61%;
	opacity: 0;
	filter: blur(1px);
	animation-delay: .2s;
}

.sperm-squad:nth-of-type(3) {
	top: 10%;
	left: 74%;
	opacity: 0;
	filter: blur(2px);
	animation-delay: .6s;
}

.sperm-squad:nth-of-type(4) {
	top: 52%;
	left: 90%;
	opacity: 0;
	filter: blur(1px);
	animation-delay: .8s;
}

.sperm-squad:nth-of-type(5) {
	top: 67%;
	left: 91%;
	opacity: 0;
	animation-delay: 1s;
}

@keyframes sperm-squad {
	0% {
		opacity: 0;
		transform: translate(15%, 15%);
	}

	100% {
		opacity: 1;
	}
}

.bubble:nth-of-type(1) {
	top: 41%;
	left: 20%;
	z-index: 12;
	animation: 5s infinite alternate linear bubble;
}

@keyframes bubble {
	0% {
		top: 41%;
		left: 20%;
	}

	100% {
		transform: translate(10%, 10%) scale(0.9);
	}
}

.bubble:nth-of-type(2) {
	top: 77%;
	left: 25%;
	z-index: 12;
	filter: hue-rotate(50deg);
	animation: 8s infinite linear bubble-2;
}

@keyframes bubble-2 {
	0% {
		top: 77%;
		left: 25%;
	}
	
	25% {
		top: 75%;
		left: 24%;
		transform: scale(0.9);
	}

	50% {
		top: 74%;
		left: 26%;
	}

	75% {
		top: 75%;
		left: 28%;
	}
}

.bubble:nth-of-type(3) {
	top: 8%;
	left: 20%;
	z-index: 12;
	animation: 7s infinite alternate linear bubble-3;
}

@keyframes bubble-3 {
	0% {
		top: 8%;
		left: 20%;
	}

	100% {
		transform: translate(70%, 90%) scale(0.9);
	}
}

.bubble:nth-of-type(4) {
	top: 28%;
	left: 8%;
	z-index: 12;
	animation: 8s infinite alternate linear bubble-4;
}

@keyframes bubble-4 {
	0% {
		top: 28%;
		left: 8%;
	}

	33% {
		transform: translate(90%, 50%);
	}

	66% {
		transform: translate(-61%, -90%) scale(1.2);
	}
}

.bubble:nth-of-type(5) {
	top: 22%;
	left: 21%;
	z-index: 14;
	filter: hue-rotate(-40deg);
	animation: 10s infinite alternate linear bubble-5;
}

@keyframes bubble-5 {
	0%{
		top: 22%;
		left: 21%;
	}

	33% {
		transform: translate(-30%, -35%);
	}

	66% {
		transform: translate(55%, -70%);
	}
}

.bubble:nth-of-type(6) {
	top: 91%;
	left: 19%;
	z-index: 14;
	animation: 14s infinite linear bubble-6;
}

@keyframes bubble-6 {
	0% {
		top: 91%;
		left: 19%;
	}

	33% {
		transform:  translate(-5%, -12%) scale(1.2);
	}

	66% {
		transform: translate(36%, 6%);
	}
}

.bubble:nth-of-type(7) {
	top: 62%;
	left: 1%;
	z-index: 14;
	animation: 15s infinite linear bubble-7;
}

@keyframes bubble-7 {
	0% {
		top: 62%;
		left: 1%;
	}

	25% {
		transform: translate(90%, 50%) scale(1.1);
	}

	50% {
		transform: translate(180%, -24%) scale(0.9);
	}

	75% {
		transform: translate(46%, 54%);
	}
}

.bubble:nth-of-type(8) {
	top: 77%;
	left: 3%;
	z-index: 14;
	filter: hue-rotate(325deg);
	animation: 10s infinite alternate linear bubble-8;
}

@keyframes bubble-8 {
	0% {
		top: 77%;
		left: 3%;
	}

	50% {
		transform: translate(37%, -35%) scale(0.9);
	}

	100% {
		transform: translate(70%, 21%) scale(1.2);
	}
}

@media (min-width: 1300px) {
	.bubble:nth-of-type(1) {
		top: 38%;
		left: 12%;
	}

	.bubble:nth-of-type(5) {
		top: 20%;
		left: 12%;
	}

	.bubble:nth-of-type(4) {
		top: 28%;
		left: 8%;
	}
}
