@import '~normalize.css';
@import 'assets/fonts/fonts.css';
@import './bottle-page.css';
@import './animation.css';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

html {
	height: 100%;
}

body {
	font-family: 'DIN Pro', sans-serif;
	background: #fff url(assets/img/bg.jpg) no-repeat;
	background-size: auto;
	transition: background .9s;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	min-height: 620px;
	max-height: 1500px;
}

#root {
	height: 100%;
}

h1, h2 {
	font-weight: normal;
}

h2 {
	position: relative;
	font-size: 1.7em;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 0.1em;
	color: #242424;
	z-index: 1;
}

p {
	color: #171717;
}

b {
	font-weight: normal;
	font-family: 'DIN Pro Bold', sans-serif;
}

strong {
	font-weight: normal;
	font-family: 'Gilroy ExtraBold', sans-serif;
}

h1, h2, p {
	cursor: default;
}

button {
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
}

img {
	display: block;
}

#wrapper {
	overflow: hidden;
	height: 100%;
}

#flex-wrapper {
	display: inline-flex;
	flex-flow: row;
	width: 300%;
	height: 100%;
	transition: all .5s;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 20%;
	height: 27px;
	z-index: 10;
	margin-top: 1.5%;
	margin-left: 55px;
}

header > button {
	width: 50px;
	padding: 0 15px 5px;
	border: 1px solid #000;
	border-radius: 5px;
	margin: 0 100px;
}

.home-button {
	height: 20px;
	cursor: pointer;
}

.home-line {
	height: 27px;
	margin: 0 25px;
}

header > p {
	font-family: 'Circe', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	line-height: 0.9;
	margin-top: 7px;
	letter-spacing: 2px;
	color: #272727;
}

footer {
	position: fixed;
	left: 7%;
	bottom: 3%;
	z-index: 13;
}

area {
	cursor: pointer;
}

.content {
	position: relative;
	width: 100%;
	height: auto;
	padding-left: 55px;
}

.content:first-child {
	background: url(assets/img/pink-sperm.png) no-repeat -27% 98%,
				url(assets/img/static-circle.png) no-repeat 36% 88%,
				url(assets/img/static-circle-2.png) no-repeat 96% 5%,
				url(assets/img/static-stick.png) no-repeat -10% 10%;
}

.title {
	position: relative;
	font-family: 'Gilroy Light', sans-serif;
	font-size: 11vw;
	line-height: 1;
	text-transform: uppercase;
	margin: 0;
	word-break: break-all;
	z-index: 5;
}

#whats-next-button {
	width: 301px;
	margin-left: 45px;
}

.flex-row {
	display: flex;
	flex-flow: row;
	position: relative;
}

.flex-column {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.info-box {
	margin-top: 50px;
	margin-bottom: 3%;
	height: 55vh;
	position: relative;
	z-index: 5;
}

.mg-top {
	padding-top: 15vh;
}

#info-container {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 70%;
	min-width: 400px;
	background-color: #fff;
	border: 1px solid white;
	border-radius: 40px;
	box-shadow: 0 0 60px -5px #cbccde;
}

#info-cutter {
	height: 80%;
	width: 90%;
	overflow: hidden;
	margin-top: 15px;
}

#info {
	font-size: 1.45em;
	line-height: 1.35em;
	margin-top: 1px;
	overflow: hidden;
}

#info > span {
	font-family: 'DIN Pro Bold', sans-serif;
}

#transparent-border {
	position: absolute;
	bottom: 0;
	height: 15%;
	width: 100%;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 30%, rgba(255,255,255,1) 100%);
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
}

#slider {
	width: 5px;
	background-color: #000;
	border-radius: 3px;
	margin-right: 4%;
	margin-left: 11px;
}

#thumb {
	position: relative;
	left: -8px;
	top: -1px;
	width: 21px;
	height: 108px;
	background: url(assets/img/thumb.png) no-repeat;
}

#rotate {
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom, lavender, lavenderblush);
	display: none;
}

#rotate p {
	margin:  auto;
	text-align: center;
	font-size: 2em;
	font-family: 'Gilroy Light', sans-serif;
}

@media screen and (orientation: portrait) { 
	#rotate {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media (min-width: 1250px) {
	.title {
		font-size: 9vw;
	}

	.bubble:nth-of-type(1) {
		top: 38%;
		left: 12%;
	}

	.bubble:nth-of-type(2) {
		left: 21%;
	}

	.bubble:nth-of-type(5) {
		top: 20%;
		left: 12%;
	}

	.bubble:nth-of-type(4) {
		top: 28%;
		left: 8%;
	}
}

@media (max-width: 950px), (max-height: 750px) {
	.details-box {
		font-size: 1.2em;
	}

	#list {
		font-size: 1.4em;
	}
}

@media (min-height: 800) {
	body {
		color: blue;
		background-size: cover;
	}
}

@media (max-width: 800px) {
	#bottle-div {
		display: none;
	}

	.details-box {
		font-size: 1.4em;
	}

	#modal-body {
		margin-left: 55px;
	}

	#list {
		font-size: 1.3em;
	}

	#animation-box {
		margin-left: 60px;
	}

	.content.last {
		background: url('../src/assets/img/bottle.png') no-repeat transparent;
		background-size: contain;
		background-position-y: 100%;
		background-position-x: right;
	}

	.bubble:nth-of-type(2) {
		left: 55%;
	}

	.bubble:nth-of-type(8) {
		left: -7%;
	}
}

@media (max-width: 750px) {
	.title-sperm, .bubble:nth-of-type(6) {
		display: none;
	}
}

@media (max-width: 700px) {
	.details-box {
		font-size: 1.3em;
	}

	#list {
		font-size: 1.2em;
	}
}

@media (max-width: 600px) {
	.details-box {
		font-size: 1.2em;
	}

	#list {
		font-size: 1.1em;
	}
}
